flask==2.1.3
sqlalchemy
cryptography


# For website servings
gunicorn

# For unit testing
pytest

# For database connections

pg8000==1.29.1 # for PostgreSQL

# pymysql          # for MySQL

# python-tds       # for MSSQL
# sqlalchemy-pytds # for MSSQL