flask==3.0.2
sqlalchemy==2.0.25
cryptography


# For website servings
gunicorn

# For unit testing
pytest

# For database connections

pg8000==1.30.4 # for PostgreSQL

# pymysql          # for MySQL

# python-tds       # for MSSQL
# sqlalchemy-pytds # for MSSQL
