flask==3.1.2
sqlalchemy==2.0.44
cryptography


# For website servings
gunicorn

# For unit testing
pytest

# For database connections

pg8000==1.31.5 # for PostgreSQL

# pymysql          # for MySQL

# python-tds       # for MSSQL
# sqlalchemy-pytds # for MSSQL
