flask==2.3.2
sqlalchemy==2.0.18
cryptography


# For website servings
gunicorn

# For unit testing
pytest

# For database connections

pg8000==1.29.8 # for PostgreSQL

pymysql          # for MySQL

python-tds       # for MSSQL
sqlalchemy-pytds # for MSSQL
